.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 65%;
  flex-direction: column;
}

.quickContainer {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.singleQuickContainer {
  margin: 1em 0;
  background-color: rgb(229, 227, 227);
  border-radius: 1em;
  padding: 1rem;
}

.resumeIcon {
  height: 3rem;
  margin-top: 1em;
  cursor: pointer;
}

.shareAndCVContainer {
  display: flex;
  justify-content: space-between;
}


.resumeLink {
  display: flex;
  justify-content: end;
}

@media (prefers-color-scheme: dark) {
  .singleQuickContainer {
    background-color: rgb(64, 64, 64);
  }
}